<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/ProjetoIntegrador07/public/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;800&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="container">
        <div class="nav">
          <img src="/ProjetoIntegrador07/public/img/logo.png" alt="Açai">
          <ul>
            <a href="Combos"class="Combos">Combos</a></li>
            <a href="Promocoes"class="Promocoes">Promoções</a></li>
            <a href="Monte_Seu_Açai"class="Monte">Monte Seu Açai</a></li>
            <a href="Sobre"class="Sobre">Sobre</a></li>
            <a href="Contato"class="Contato">Contato</a></li>
            <a href="Pedido"class="Pedido">Fazer Pedido</a></li>
          </ul>
        </div>
    </div>
    <section class="acai">
      <div class="banner">
        <div class="container">
          <h1> <span style = "color:#F2CB2F">Já <br> Tomou<br></span> </h1>
          <h4>seu açai hoje?</h4>
          <img src="/ProjetoIntegrador07/public/img/banner açai 8 1.png" alt="acai-copos">
        </div>
      </div>
    </section>

  </header>
  <main>

  </main>
  <footer>

  </footer>
  
</body>
</html>