@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;800&display=swap');

body {
  padding: 0;
  margin: 0;
  font: "Poppins", Helvetica, Arial, sans-serif;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

header{    
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  background-color: #7D0C4A;
}

header .container, .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav{
  font-size: 20px;
  line-height: 27px;

}

header .Combos, .Promocoes, .Monte, .Sobre, .Contato{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 20px;
}

header .Pedido{
  position: absolute;
  width: 114px;
  height: 33px;
  background-color: #F2CB2F;
  border: 1px solid #000000;
  color: #5D0545;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
  padding: 2px;
}
section.acai{
  display: flex;
}

section.acai h1{
  position: absolute;
  height: 0px;
  left: 241px;
  top: 298px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 97px;
  line-height: 100px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
}

section.acai h4{
  position: relative;
  left: 247px;
  top: 185px;
  font-size: 40px;
  color: white;
}

section .acai, .banner, .container, img{
  max-width: 100%;
}